@import "./variables.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header{
    width: 100%;
}

.header__logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo{
    width: 6rem;
    height: 4rem;
}

.header__form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--primary-margin);

}
.header__search-form{
    width: 8rem;
    margin: var(--sm-margin);
}

.main__img-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.main__img{
    width: 8rem;
    height: 8rem;
    margin: var(--secondary-margin);
}

.main__btn-wrapper{
    display: flex;
    justify-content: center;

}

.main__btn{
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--primary-bg-color);
    margin-bottom: var(--secondary-margin);
    color: var(--secondary-text-color);
}

.bigger__img-text{
    color: var(--text-main-color);
    text-align: center;
    margin-bottom: var(--primary-margin);
    
}

.bigger__img-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: var(--secondary-margin);
}

.bigger__img{
    width: 12rem;
    height: 10rem;
}


.footer{
    background-color: var(--primary-bg-color);
    height: 6rem;
}

.footer__nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer__img{
    margin: var(--primary-margin);
}


@media (min-width : 576px) and (max-width : 768px){

    .header__logo{
        width: 8rem;
        height: 6rem;
    }

    .main__img{
        width: 13rem;
        height: 13rem;
        margin-left:var(--medium-margin);
    }

    .main__btn{
        width: 8rem;
        height: 2rem;
    }

    .bigger__img{
        width: 16rem;
        height: 15rem;
    }

    .footer{
        height: 8rem;
    }

    .footer__img{
        margin: var(--medium-margin);
    }
}




@media (min-width : 768px) and (max-width : 1200px){
    .header__logo{
        width:12rem;
        height: 8rem;
    }

    .main__img-wrapper{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .main__img{
        width: 14rem;
        height: 14rem;
        margin: var(--biggest-margin);
        
    }

    .main__btn{
        width: 8rem;
        height: 3rem;
    }

    .bigger__img-wrapper{
        margin-bottom: var(--biggest-margin);
    }

    .bigger__img{
        width: 18rem;
        height: 17rem;
    }

    .footer{
        width:100%;
        height: 8rem;
    }

    .footer__img{
        margin: var(--medium-margin);
    }

}

@media (min-width : 1200px){
    .header__logo{
        width:14rem;
        height: 7rem;
    }

    .main__img-wrapper{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .main__img{
        width: 20rem;
        height: 18rem;
        margin: var(--biggest-margin);
        
    }

    .main__btn{
        width: 8rem;
        height: 3rem;
    }

    .bigger__img-wrapper{
        margin-bottom: var(--biggest-margin);
    }

    .bigger__img{
        width: 18rem;
        height: 17rem;
    }

    .footer{
        width:100%;
        height: 8rem;
    }

    .footer__img{
        margin: var(--medium-margin);
        margin-left: 7rem;
    }
}
